.work-card {
  background: #ffffff;
  text-align: initial;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px;
}

.work-card:hover {
  cursor: all-scroll;
}

.work-card:active:hover {
  cursor: all-scroll;
}

.draggable-icon {
  background-image: url("../../assets/YsaOooNDgdX.png");
  background-position: 0px -225px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
