.column {
  border: 0px solid transparent;
  border-radius: 10px;
  width: 300px;
  height: max-content;
  min-height: 140px;
  margin-left: 15px;
  background: #ebecf0;
}

.column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column ul li {
  background-color: #ebecf0;
  position: relative;
}

.column li .drag {
  margin-right: 15px;
  cursor: move;
}

.column li svg {
  height: 2rem;
  color: #fff;
}