.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #1583b8, #02c2e9);
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
